# Python / FastAPI
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
ENV/
*.spec
*.log
*.sqlite3

# Node / React (Vite)
node_modules/
dist/
build/
.vite/
.cache/
*.log
*.map

# OS / Système
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*.bak
*.tmp
*.lnk
$RECYCLE.BIN/
*~

# Éditeurs
.vscode/
.idea/
*.code-workspace

# === Base de données ===
# Fichiers SQLite locaux
*.db
*.sqlite
*.sqlite3
# Fichiers temporaires de migrations ou verrous
*.db-shm
*.db-wal
*.db-journal

# Fichiers du projet
logs/
tmp/
*.env
*.local
public/
