/* web_interface/frontend/src/Base.css */

/* --- Conteneur Principal --- */
.dashboard-container {
  display: flex;
  font-family: Inter, system-ui, Arial;
  background: #f0f0f0;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* --- Section 1: Le Plan --- */
.plan-container {
  flex: 3; /* Prend 3/4 de la place */
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.plan-container h1 {
  text-align: center;
  margin-top: 0;
}

.stop-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

/* --- La Grille du Plan --- */
.plan-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 15px;
  align-items: center;
  justify-items: center;
  margin-top: 40px;
  font-size: 14px;
}

.box, .poste {
  padding: 20px;
  border: 1px solid #ccc;
  background: #eaeaea;
  border-radius: 4px;
  text-align: center;
  min-width: 100px;
  transition: all 0.3s ease; /* Pour l'animation */
}

.arrow {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.train {
  font-size: 40px;
  grid-row: 3;
  grid-column: 1;
}


.poste {
  cursor: pointer;
}

#poste-1 { background-color: #9fc3f1; }
#poste-2 { background-color: #b6fcce; }
#poste-3 { background-color: #ffb6b6; }
#presse { background-color: #FFC481; }
#machine-x { background-color: #FFFD8E; }
#machine-y { background-color: #B6A9FF; }
#fournisseur { background-color: #ffb1e5; }

.poste.active {
  border: 3px solid #f59e0b;
  transform: scale(1.05);
  box-shadow: 0 0 15px #f59e0b;
}

.sidebar-container {
  flex: 1;
  background: #e9ecef;
  padding: 20px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.sidebar-container h2 {
  margin-top: 0;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.task-group {
  margin-bottom: 15px;
}
.task-group h3 {
  margin: 0;
  padding: 10px;
  background: #ced4da;
  border-radius: 4px;
}
.task-group ul {
  margin: 0;
  padding: 10px 10px 10px 30px;
  list-style-type: '• ';
}
.task-group li {
  padding: 2px 0;
}

#task-poste-3 h3 { background: #fca5a5; }
#task-poste-2 h3 { background: #bbf7d0; }
#task-magasin h3 { background: #5790ca; }
#task-fournisseur h3 { background: #adb5bd; }
#task-poste-1-vis h4 { background: #5790ca; }
#task-poste-1-ecrou h4 { background: #5790ca; }

.task-subgroup {
  margin-top: 8px;
  border-left: 3px solid #adb5bd;
  padding-left: 10px;
}
.task-subgroup h4 {
  margin: 0 0 5px 0;
  padding: 8px;
  background: #dee2e6;
  border-radius: 4px;
}

.connection-status {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
}

